html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
em,
textarea,
p,
th,
td {
	margin: 0px;
	padding: 0px;
}

/*
去除图片底部间隙
*/
img {
	vertical-align: middle;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

 a:link {
	color: black;
	text-decoration: none;
} 

 a:visited {
	color: black;
	text-decoration: none;
 } 

 a:hover {
	color: black;
	text-decoration: none;
} 

 a:active {
	color: black;
	text-decoration: none;
} 

.clearfix:after {
	overflow: hidden;
	clear: both;
	display: block;
	height: 0;
	content: "\20"
}

/*它就是空格，这个是hack写法，用来识别不同版本的IE浏览器，*后面的属性IE6 IE7识别 ，zoom属性是IE特有的，其他浏览器没有这个属性。zoom：1可以解决IE67下浮动问题*/
.clearfix {
	*zoom: 1;
}

.clear {
	clear: both;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
}

.clearBoth {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
	display: block;
}


.row:after {
	content: "";
	clear: both;
	display: block;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

/* 属性选择器 */
[class*="col-"] {
	float: left;
}

.ellipsis {
	/* 规定是否换行 */
	white-space: nowrap;
	overflow: hidden;
	/* 超出部分用省略号代替 */
	text-overflow: ellipsis;
}

body {
	font: 16px/1.2 '微软雅黑', '宋体', STHeiTi, Arial, Helvetica, sans-serif;
	color: #333;
}
