html{
	font-size: 50px;
}
.header p{
	text-align: center;
	font-size: 0.36rem;
	font-weight: bold;
	display: inline;
	padding-left: 2.6rem;
}
.header i{
	font-size: 0.36rem;
	font-weight: bold;
	padding-top: 0.63rem;
}
.header{
	padding-bottom: 0.64rem;
}
.header img{
	width: 100%;
}
.center-1{
	border: 1px solid gray;
	border-radius: 0.12rem;
	padding: 0.36rem;
}
.center-1 p{
	line-height: 0.5rem;
	font-size: 0.35rem;
}
.center-2 p{
	padding: 0.27rem 0 0.27rem 0.3rem;
}
.center-2 textarea{
	background: ghostwhite;
	margin-left: 0.2rem;
}
.footer{
	padding: 0.33rem 0.3rem 0.3rem 0.3rem;
}
.footer button{
	width: 6.9rem;
	height: 0.8rem;
	color: white;
	background: green;
	border-radius: 0.12rem;
	font-size: 0.36rem;
}